[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
snakeviz = "*"

[packages]
flask = "*"
inflect = "*"
flask-cors = "*"
python-logstash = "*"
python-logstash-async = "*"
line-profiler = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
